body
{
	 font: normal 16px Helvetica, Arial, sans-serif;
	 margin: 15px;
}
 
h1{text-align: center;}
 
nav span, nav a
{
	 margin: 5px;
	 font-size: 20px;
	 margin-right: 10px;
	 margin-left: 10px;
}

label{font-weight: bold;}

select, textarea {margin: 5px;}

footer
{
	text-align: center;
	font-size: 10px;
}

.hidden{display: none;}

#label_yes, #label_no{font-weight: normal;}
#color
{
	padding: 1px 3px;
	text-align: right;
	float: right;
}
